

{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid">

{#  <div class="row justify-content-center align-items-center p-3" style="background: #5e80fd">#}
{#    <div class="col-auto" style="color: #ffffff; font-size: 30px; font-weight: 900">#}
{#      Pet Food Calculator#}
{#    </div>#}
{#  </div>#}

  <div class="row justify-content-center align-items-center" style="margin-top: 32px">
    <div class="col-auto">
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="toggle-cost">
        <label class="form-check-label" for="toggle-cost" style="font-weight: 700; color: #5e80fd">Add cost calculation</label>
      </div>
    </div>
  </div>

  <div class="row justify-content-center align-items-center" style="margin-top: 30px; margin-bottom: 20px">
    <div class="col-auto">
      <button class="btn" id="add-row" style="background: #5e80fd; color: #ffffff; font-weight: 700; border-radius: 50px;">
        Add Food
      </button>
    </div>
  </div>

  <!-- This row is used to display the food rows dynamically -->
  <div class="row justify-content-center" id="food-rows" style="color: #5e80fd;"></div>

  <!-- Results -->
  <div class="row justify-content-center align-items-center mt-5" style="color: #5e80fd;">
    <div class="col-auto bg-white rounded-5 p-4 box-shadow">
      Results:

      <div>
        <strong>Total kcal: <span id="total-kcal">0</span></strong>
      </div>

      <div>
        <strong>Total cost: <span id="total-cost">0</span></strong>
      </div>

    </div>
  </div>


  <!-- Template for a single food row -->
  <template id="food-row-template">
    <div class="col-auto m-3 bg-white rounded-5 food-row box-shadow">

      <!-- Delete Row -->
      <div class="row align-items-center justify-content-between px-3" style="margin-top: 18px; margin-bottom: 14px;">

        <div class="col-auto">
          <i class="bi bi-fork-knife"></i>
        </div>

        <div class="col-auto">
          <a href="#" class="text-decoration-none delete-row text-secondary align-self-end mb-3">
            <span style="color: #5e80fd">
              <i class="bi bi-x-lg"></i>
            </span>
          </a>
        </div>
      </div>



      <div class="d-flex align-items-center gap-2 px-3">
        <label class="text-nowrap mb-0 field-text" style="width: 120px; font-weight: 600;">Food kcal/kg</label>
        <input class="form-control form-control-sm rounded-4 kcalPerKg" placeholder="kcal/kg" aria-label="Kcal per kg" style="width: 80px; border-color: #5e80fd;" />
      </div>


      <div class="d-flex align-items-center gap-2 mt-2 px-3">
        <label class="text-nowrap mb-0" style="width: 120px; font-weight: 600;">Meals per day</label>
        <input class="form-control form-control-sm rounded-4 mealsNumber" placeholder="meals" aria-label="Meals per day" style="width: 80px; border-color: #5e80fd;" />
      </div>


      <div class="d-flex align-items-center gap-2 mt-2 px-3">
        <label class="text-nowrap mb-0" style="width: 120px; font-weight: 600;">Meal size</label>
        <input class="form-control form-control-sm rounded-4 portionSize" placeholder="grams" aria-label="Meal size" style="width: 80px; border-color: #5e80fd;" />
      </div>


      <div class="d-flex align-items-center gap-2 mt-2 px-3 cost-field">
        <label class="text-nowrap mb-0" style="width: 120px; font-weight: 600;">Package size</label>
        <input class="form-control form-control-sm rounded-4 packageSize" placeholder="grams" aria-label="Package size" style="width: 80px; border-color: #5e80fd;" />
      </div>


      <div class="d-flex align-items-center gap-2 mt-2 px-3 cost-field">
        <label class="text-nowrap mb-0" style="width: 120px; font-weight: 600;">Package price</label>
        <input class="form-control form-control-sm rounded-4 price" placeholder="$" aria-label="Package price" style="width: 80px; border-color: #5e80fd;" />
      </div>



      <div class="row" style="margin-top: 20px;">
        <div class="col" style="padding-top: 20px; padding-bottom: 20px; font-weight: 700; border-top: 1px solid #8ea6fe;">
          <div class="px-3">
            <strong>Kcal per day:</strong> <span class="kcal-output">0</span>
          </div>
          <div class="cost-field px-3">
            <strong>Cost per day:</strong> <span class="cost-output">0</span>
          </div>
        </div>
      </div>

    </div>
  </template>


<script src="{% static 'js/script.js' %}"></script>

</div>



{% endblock %}