{% extends "base.html" %}
{% load static %}

{% block body %}

  <div class="container-fluid">

    <!-- Title and Edit Button -->
    <div class="row justify-content-center" style="margin-top:20px">
      <!-- Main Title Section -->
      <div class="col-11 col-sm-9 col-md-7 col-lg-5 shadow"
           style="border-radius: 30px; background-color: #ffffff; padding: 20px 30px 10px 30px;">


        <div class="text-center" style="font-weight: 700; font-size: 24px; margin: 0 0 20px 0">Welcome to the Pet Food Calculator!</div>
        <div>
          <a href="{% url 'account_signup' %}" style="font-weight: 700; color: var(--primary-color)">
            Register
          </a> or
          <a href="{% url 'account_login' %}" style="font-weight: 700; color: var(--primary-color)">
            Log in
          </a> to add multiple pets, save their meals, and unlock more features.
          <div style="margin-top: 10px">
            It’s completely <b>FREE</b>, but if you’d like to support the project, you’re welcome to {% include "includes/bmc.html" %}
          </div>
        </div>


        <div class="row justify-content-center align-items-center"
             style="margin: 20px 4px 0 4px; padding: 0 0 0 0;"
        >

          <!-- Add Food -->
          <div class="col-auto m-0 p-0">
            <button class="btn btn-pet-nav"
                    id="add-row"
                    style="border-radius: 30px 0 0 30px"
            >
              + Add food
            </button>
          </div>

          <!-- Calculate Price Button -->
          <div class="col-auto m-0 p-0">
            <button id="toggle-cost-btn" class="btn btn-pet-nav" style="border-radius: 0 30px 30px 0">
              Cost: OFF
            </button>
          </div>

        </div>
      </div>
    </div>


    <!-- This row is used to display the food rows dynamically -->
    <div class="row justify-content-center" id="food-rows" style="color: #5e80fd;"></div>


    <!-- Result Section -->
    <div class="row justify-content-center font-default mb-5">
      <div class="col-auto food-box">

        <table style="font-weight: 700; color: var(--dark-color);">
          <tr>
            <td style="padding: 6px 0">
              Total day energy:
            </td>
            <td style="padding: 6px 0">
              <span id="total-kcal" style="padding-left: 10px">
                0.00
              </span>
              <span>kcal</span>
            </td>
          </tr>
          <tr>
            <td>
              <span class="cost-field">
                Total day cost:
              </span>
            </td>
            <td>
              <span class="cost-field" id="total-cost" style="padding-left: 10px">
                0.00
              </span>
              <span class="cost-field">$</span>
            </td>
          </tr>
        </table>

      </div>
    </div>


    <!-- Template for a single food row -->
    <template id="food-row-template">
      <div class="col-auto food-box food-row">

        <!-- Delete Row -->
        <div class="row align-items-center justify-content-between">
          <div class="col-auto">
            <div class="row align-items-center justify-content-start m-0 p-0 gap-2">
              <div class="col-auto m-0 p-0">
                <img src="{% static 'images/pet_food_icon.png' %}"
                     alt="pet food icon"
                     style="width: 30px; height: 30px;"
                >
              </div>
              <div class="col-auto m-0 p-0">
              <span class="food-form-title">
                Food
              </span>
              </div>
            </div>
          </div>

          <div class="col-auto">
            <a class="btn p-0 m-0 text-decoration-none text-secondary align-self-end delete-row">
            <span style="color: var(--dark-color);">
              <i class="bi bi-x-lg"></i>
            </span>
            </a>
          </div>
        </div>


        <div class="food-form-row">
          <label class="food-form-label">Food kcal/kg</label>
          <input name="kcal"
                 autocomplete="off"
                 class="form-control form-control-sm food-form-field kcalPerKg"
                 placeholder="kcal/kg"
                 aria-label="Kcal per kg"/>
        </div>


        <div class="food-form-row">
          <label class="food-form-label">Meals per day</label>
          <input name="meals"
                 autocomplete="off"
                 class="form-control form-control-sm food-form-field mealsNumber"
                 placeholder="meals"
                 aria-label="Meals per day"/>
        </div>


        <div class="food-form-row">
          <label class="food-form-label">Meal size</label>
          <input name="meal_size"
                 autocomplete="off"
                 class="form-control form-control-sm food-form-field portionSize"
                 placeholder="grams"
                 aria-label="Meal size"/>
        </div>


        <div class="food-form-row cost-field">
          <label class="food-form-label">Package size</label>
          <input name="package_size"
                 autocomplete="off"
                 class="form-control form-control-sm food-form-field packageSize"
                 placeholder="grams"
                 aria-label="Package size"/>
        </div>


        <div class="food-form-row cost-field">
          <label class="food-form-label">Package price</label>
          <input name="package_price"
                 autocomplete="off"
                 class="form-control form-control-sm food-form-field price"
                 placeholder="$"
                 aria-label="Package price"/>
        </div>


        <!-- Results -->
        <div class="row">
          <div class="col"
               style="padding: 10px 0 0 0; margin: 10px 10px 0 10px; border-top: 1px solid #d4d5da;"
          >
            <div>
              <table>
                <tr>
                  <td>Day energy:</td>
                  <td>
                  <span class="kcal-output" style="margin-left: 8px">
                    0.00
                  </span>
                    <span>kcal</span>
                  </td>
                </tr>
                <tr>
                  <td><span class="cost-field">Day cost:</span></td>
                  <td>
                  <span class="cost-output cost-field" style="margin-left: 8px">
                    0.00
                  </span>
                    <span class="cost-field">$</span>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>

      </div>
    </template>


    <script src="/static/js/home_guest_script.js"></script>

  </div>
{% endblock %}
