{% extends "base.html" %}

{% block body %}

<div class="container-fluid">
  <div class="row justify-content-center align-items-center">
    <div class="col-auto box">

      <div class="box-header">
        Delete Pet
      </div>

      <div class="box-content box-content-margin-top">
        Are you sure you want to delete {{ object.name }}?
      </div>

      <form method="post">
        {% csrf_token %}
        <div>
          <button type="submit" class="btn btn-dark w-100 box-btn-margin-top">Yes, delete</button>
        </div>
        <div>
          <a href="{% url 'calculator:pet_update' pk=object.id %}"
             class="btn btn-primary w-100"
             style="margin-top: 28px;"
          >
            No, go back
          </a>
        </div>
      </form>

    </div>
  </div>
</div>

{% endblock %}
