{% extends "base.html" %}
{% load static %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}


{% block body %}
<div class="container-fluid">

  <div class="row justify-content-center align-items-center">
    <div class="col-auto box">

      <div class="box-header">
        Pet Profile
      </div>

      <form method="post" class="box-content box-content-margin-top">
        {% csrf_token %}
        {{ form | crispy }}
        <input type="submit"
               value="Update"
               class="btn btn-primary w-100 box-btn-under-form-margin-top"
        >
      </form>

      <a href="{% url 'calculator:pet_detail' pet.pk %}"
         class="btn btn-cancel w-100"
         style="margin-top: 10px;"
      >
        Cancel
      </a>

      <a href="{% url 'calculator:pet_delete' pet.pk %}"
         class="btn btn-dark w-100"
         style="margin-top: 46px;"
      >
        Delete
      </a>

    </div>
  </div>

</div>
{% endblock %}
