:root {
  --primary-color: #5e80fd;
  --secondary-color: #FEC2D9;
  --light-color: #8ea6fe;
  --dark-color: #22263a;
  --box-radius: 20px;
  --food-box-radius: 30px;
}

.hidden {
  display: none !important;
}

body {
  font-family: "Nunito Sans", sans-serif;
  background-color: var(--secondary-color) !important;
}

.font-default {
  font-family: "Nunito Sans", sans-serif !important;
  color: var(--primary-color) !important;
}

.color-primary {
  color: var(--primary-color) !important;
}


.form-check-input:checked {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.btn-primary {
  background: var(--primary-color) !important;
  color: #ffffff !important;
  font-weight: 600 !important;
  border-radius: 50px !important;
  border: none !important;
  padding: 10px !important;
}

/* Button Styles */
.btn-primary:hover {
  background: #5476ef !important;
  color: #ffffff !important;
  font-weight: 640 !important;
  border-radius: 50px !important;
  border: none !important;
}

.btn-primary:active {
  background: #364ca3 !important;
  color: #ffffff !important;
  font-weight: 640 !important;
  border-radius: 50px !important;
  border: none !important;
}

.btn-dark {
  background: #b43440 !important;
  color: #ffffff !important;
  font-weight: 600 !important;
  border-radius: 50px !important;
  border: none !important;
    padding: 10px !important;
}

.btn-dark:hover {
  background: #a9303b !important;
  color: #ffffff !important;
  font-weight: 640 !important;
  border-radius: 50px !important;
  border: none !important;
}

.btn-dark:active {
  background: #801f27 !important;
  color: #ffffff !important;
  font-weight: 640 !important;
  border-radius: 50px !important;
  border: none !important;
}

.btn-cancel {
  background: #a1a5ba !Important;
  color: #ffffff !Important;
  font-weight: 600 !Important;
  border-radius: 50px !Important;
  border: none !Important;
  padding: 10px !Important;
}

.btn-cancel:active,
.btn-cancel:hover {
  background: #8d91a6 !Important;
  color: #ffffff !Important;
  font-weight: 640 !Important;
  border-radius: 50px !Important;
  border: none !Important;
  padding: 10px !Important;
}

.btn-cancel:active {
  background: #71758a !Important;
  color: #ffffff !Important;
  font-weight: 640 !Important;
  border-radius: 50px !Important;
  border: none !Important;
  padding: 10px !Important;
}

.btn-pet-nav {
  background: var(--primary-color) !important;
  color: #ffffff !important;
  font-weight: 600 !important;
  border-radius: 30px;
  border: none !important;
  padding: 8px 18px 8px 18px !important;
}

.btn-pet-nav:hover {
  background: #4153b7 !important;
  color: #ffffff !important;
  font-weight: 640 !important;
  border-radius: 30px;
  border: none !important;
  /*padding: 4px 10px 4px 10px !important;*/
}

/*.btn-pet-nav:active {*/
/*  background: #000000 !important;*/
/*  color: #aaabb4 !important;*/
/*  font-weight: 640 !important;*/
/*  border-radius: 50px !important;*/
/*  border: none !important;*/
/*}*/


/* Switch Styles */
.switch,
.switch:focus,
.switch:active {
  box-shadow: none !important;
  outline: none;
  border: none !important;
}


/* Food Form Styles */
.food-form-title {
    font-size: 24px;
    font-weight: 700;
    color: var(--dark-color);
    margin-bottom: 24px;
}

.food-box {
  background-color: #ffffff !important;
  border: none !important;
  border-radius: var(--food-box-radius) !important;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1) !important;
  padding: 30px !important;
    margin: 20px;
  font-family: "Nunito Sans", sans-serif !important;
  color: var(--primary-color) !important;
}

.food-form-label {
  width: 120px;
  font-weight: 600;
  margin-bottom: 0;
  white-space: nowrap;
}

.food-form-field {
    width: 80px;
    border: 1px solid var(--primary-color);
    border-radius: 20px;
    text-align: center !important;
    color: var(--primary-color) !important;
}

.food-form-field::placeholder {
    color: var(--light-color) !important;
}

.food-form-row {
  display: flex;
  align-items: center;
  margin: 10px 0 10px 0;
}


/* Auth Form Styles */
.auth-form-field {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 2px solid var(--primary-color);
  border-radius: var(--box-radius);
  background-color: white;
  outline: none;
  box-shadow: none;
}

.auth-form-field:focus {
  border-color: var(--primary-color);
  outline: none;
  box-shadow: none;
}


/* Box Styles */
.box {
  background-color: #ffffff !important;
  border: none !important;
  border-radius: var(--box-radius) !important;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1) !important;
  padding: 38px 48px 38px 48px !important;
  margin-top: 48px !important;
  font-family: "Nunito Sans", sans-serif !important;
  color: var(--primary-color) !important;
}

.box-header {
    font-size: 32px !important;
    font-weight: 700 !important;
    color: var(--dark-color) !important;
}

.box-content {
    color: var(--dark-color) !important;
}

.box-content-margin-top {
    margin: 10px 0 !important;
}

.box-btn-margin-top {
    margin: 40px 0 0 0 !important;
}

.box-btn-under-form-margin-top {
    margin: 30px 0 0 0 !important;
}

.box-shadow {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.shadow {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1) !important;
}


/* Alert Styles */
.alert-info,
.alert-warning {
  background-color: rgba(255, 255, 255, 0.5) !important;
  color: rgba(0, 0, 0, 0.6) !important;
  border: none !important;
  border-radius: 30px !important;
}


/* Form Styles */
.asteriskField {
    display: none !important;
}


/* Drop Down Meny in Navbar */
.dropdown-menu {
  white-space: nowrap !important;
}

.dropdown-link-custom {
  color: var(--dark-color) !important;
  font-weight: 600 !important;
  text-decoration: none !important;
  padding: 10px 20px 10px 20px;
  border-radius: 30px;
}

.dropdown-link-custom:hover {
  color: var(--dark-color) !important;
  font-weight: 600 !important;
  text-decoration: none !important;
  padding: 10px 20px 10px 20px;
  border-radius: 30px;
    background-color: #e7ebfd;
}