<!-- Modal Add Pet -->
<div class="modal fade"
     id="petModal"
     tabindex="-1"
     aria-labelledby="newPetModalLabel"
     aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content box">

      <div class="modal-header border-0 m-0 p-0">
        <span class="box-header">Add Pet</span>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body box-content box-content-margin-top m-0 p-0">
        <form method="POST" action="{% url 'calculator:pet_create' %}">
          {% csrf_token %}
          <label class="form-label" for="pet_name">Pet Name</label>
          <input class="form-control"
                 id="pet_name"
                 type="text"
                 name="pet_name"
                 maxlength="30"
                 required
          >
          <div class="form-check" style="margin-top: 24px;">
            <input class="form-check-input"
                   type="checkbox"
                   value="on"
                   id="is_default"
                   name="is_default"
            >
            <label class="form-check-label" for="is_default">
              Default
            </label>
          </div>
          <div>
            <input class="btn btn-primary box-btn-margin-top w-100" type="submit" value="Save">
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
