{% if pet %}
<div class="row justify-content-center align-items-center">
  <div class="col-auto">
    <h1>{{ pet.name }} </h1>
  </div>
  <div class="col-auto">
    <a href="{% url 'calculator:pet_update' pk=pet.id %}" style="font-size: 30px; color: var(--primary-color);">
      <i class="bi bi-pencil-square"></i>
    </a>
  </div>
</div>

<!-- Add Food -->
<div class="row justify-content-center">
  <div class="col-auto">
    <form method="POST" action="{% url 'calculator:food_create' %}">
      {% csrf_token %}
      <input type="hidden" name="pet_id" value="{{ pet.id }}">
      <button class="btn btn-primary" type="submit">Add food</button>
    </form>
  </div>
</div>

<div class="row justify-content-center font-default">
  {% for food in pet.foods.all %}

    <div class="col-auto m-3 bg-white rounded-5 food-row box-shadow">

      <!-- Delete Food -->
      <div class="row align-items-center justify-content-between px-3" style="margin-top: 18px; margin-bottom: 14px;">
        <div class="col-auto">
          <i class="bi bi-fork-knife"></i>
        </div>
        <form method="post" action="{% url 'calculator:food_delete' %}" class="col-auto">
          {% csrf_token %}
          <input type="hidden" name="pet_id" value="{{ pet.id }}">
          <input type="hidden" name="food_id" value="{{ food.id }}">
          <button type="submit" class="btn p-0 text-decoration-none delete-row text-secondary align-self-end mb-3">
            <span style="color: var(--primary-color);">
              <i class="bi bi-x-lg"></i>
            </span>
          </button>
        </form>
      </div>

      <form method="post" action="{% url 'calculator:food_update' food_id=food.id %}" class="col-auto">
        {% csrf_token %}
        <input type="hidden" name="pet_id" value="{{ pet.id }}" />
        <input type="hidden" name="food_id" value="{{ food.id }}" />

        <div class="d-flex align-items-center gap-2 px-3">
          <label class="food-form-label">Food</label>
          <input name="food_name" class="form-control form-control-sm food-form-field" placeholder="name" value="{{ food.name }}" aria-label="Food name" />
        </div>

        <div class="d-flex align-items-center gap-2 mt-2 px-3">
          <label class="food-form-label">Food kcal/kg</label>
          <input name="kcal" class="form-control form-control-sm food-form-field" placeholder="kcal/kg" value="{{ food.kcal }}" aria-label="Kcal per kg" />
        </div>

        <div class="d-flex align-items-center gap-2 mt-2 px-3">
          <label class="food-form-label">Meals per day</label>
          <input name="meals" class="form-control form-control-sm food-form-field mealsNumber" placeholder="meals" value="{{ food.meals }}" aria-label="Meals per day" />
        </div>

        <div class="d-flex align-items-center gap-2 mt-2 px-3">
          <label class="food-form-label">Meal size</label>
          <input name="meal_size" class="form-control form-control-sm food-form-field portionSize" placeholder="grams" value="{{ food.meal_size }}" aria-label="Meal size" />
        </div>

        <div class="d-flex align-items-center gap-2 mt-2 px-3 cost-field">
          <label class="food-form-label">Package size</label>
          <input name="package_size" class="form-control form-control-sm food-form-field packageSize" placeholder="grams" value="{{ food.package_size }}" aria-label="Package size" />
        </div>

        <div class="d-flex align-items-center gap-2 mt-2 px-3 cost-field">
          <label class="food-form-label">Package price</label>
          <input name="package_price" class="form-control form-control-sm food-form-field price" placeholder="$" value="{{ food.package_price }}" aria-label="Package price" />
        </div>

        <button type="submit" class="btn p-0 text-decoration-none delete-row text-secondary align-self-end mb-3">
          Update Food
        </button>
      </form>

      <!-- Results -->
      <div class="row" style="margin-top: 20px;">
        <div class="col" style="padding-top: 20px; padding-bottom: 20px; font-weight: 700; border-top: 1px solid #8ea6fe;">
          <div class="px-3">
            <strong>Kcal per day:</strong> <span class="kcal-output">{{ food.kcal_per_day }}</span>
          </div>
          <div class="cost-field px-3">
            <strong>Cost per day:</strong> <span class="cost-output">{{ food.cost_per_day }}</span>
          </div>
        </div>
      </div>

    </div>
  {% endfor %}
</div>

{% else %}
  <div class="row">
    <div class="col">
      <h1>Add Your Pet</h1>

      <!-- Add Pet Button -->
      {% include "includes/add_pet_button.html" %}

      <!-- Modal Add Pet -->
      {% include "includes/add_pet_modal.html" %}

    </div>
  </div>
{% endif %}










{#  <!-- Switch Add cost calculation -->#}
{#  <div class="row justify-content-center align-items-center" style="margin-top: 32px">#}
{#    <div class="col-auto">#}
{#      <div class="form-check form-switch">#}
{#        <input class="form-check-input switch" type="checkbox" role="switch" id="toggle-cost">#}
{#        <label class="form-check-label" for="toggle-cost" style="font-weight: 700; color: #5e80fd;">Add cost calculation</label>#}
{#      </div>#}
{#    </div>#}
{#  </div>#}
{##}
{#  <!-- Add food button -->#}
{#  <div class="row justify-content-center align-items-center" style="margin-top: 30px; margin-bottom: 20px">#}
{#    <div class="col-auto">#}
{#      <button class="btn" id="add-row" style="background: #5e80fd; color: #ffffff; font-weight: 700; border-radius: 50px;">#}
{#        Add Food#}
{#      </button>#}
{#    </div>#}
{#  </div>#}
{##}
{#  <!-- This row is used to display the food rows dynamically -->#}
{#  <div class="row justify-content-center" id="food-rows" style="color: #5e80fd;"></div>#}
{##}
{#  <!-- Results -->#}
{#  <div class="row justify-content-center align-items-center mt-5" style="color: #5e80fd;">#}
{#    <div class="col-auto bg-white rounded-5 p-4 box-shadow">#}
{#      Results:#}
{##}
{#      <div>#}
{#        <strong>Total kcal: <span id="total-kcal">0</span></strong>#}
{#      </div>#}
{##}
{#      <div>#}
{#        <strong>Total cost: <span id="total-cost">0</span></strong>#}
{#      </div>#}
{##}
{#    </div>#}
{#  </div>#}
{##}
{#  <!-- Template for a single food row -->#}
{#  <template id="food-row-template">#}
{#    <div class="col-auto m-3 bg-white rounded-5 food-row box-shadow">#}
{##}
{#      <!-- Delete Row -->#}
{#      <div class="row align-items-center justify-content-between px-3" style="margin-top: 18px; margin-bottom: 14px;">#}
{##}
{#        <div class="col-auto">#}
{#          <i class="bi bi-fork-knife"></i>#}
{#        </div>#}
{##}
{#        <div class="col-auto">#}
{#          <a href="#" class="text-decoration-none delete-row text-secondary align-self-end mb-3">#}
{#            <span style="color: #5e80fd">#}
{#              <i class="bi bi-x-lg"></i>#}
{#            </span>#}
{#          </a>#}
{#        </div>#}
{#      </div>#}
{##}
{#      <div class="d-flex align-items-center gap-2 px-3">#}
{#        <label class="text-nowrap mb-0 field-text" style="width: 120px; font-weight: 600;">Food kcal/kg</label>#}
{#        <input class="form-control form-control-sm rounded-4 kcalPerKg" placeholder="kcal/kg" aria-label="Kcal per kg" />#}
{#      </div>#}
{##}
{#      <div class="d-flex align-items-center gap-2 mt-2 px-3">#}
{#        <label class="text-nowrap mb-0" style="width: 120px; font-weight: 600;">Meals per day</label>#}
{#        <input class="form-control form-control-sm rounded-4 mealsNumber" placeholder="meals" aria-label="Meals per day" />#}
{#      </div>#}
{##}
{#      <div class="d-flex align-items-center gap-2 mt-2 px-3">#}
{#        <label class="text-nowrap mb-0" style="width: 120px; font-weight: 600;">Meal size</label>#}
{#        <input class="form-control form-control-sm rounded-4 portionSize" placeholder="grams" aria-label="Meal size" />#}
{#      </div>#}
{##}
{#      <div class="d-flex align-items-center gap-2 mt-2 px-3 cost-field">#}
{#        <label class="text-nowrap mb-0" style="width: 120px; font-weight: 600;">Package size</label>#}
{#        <input class="form-control form-control-sm rounded-4 packageSize" placeholder="grams" aria-label="Package size" />#}
{#      </div>#}
{##}
{#      <div class="d-flex align-items-center gap-2 mt-2 px-3 cost-field">#}
{#        <label class="text-nowrap mb-0" style="width: 120px; font-weight: 600;">Package price</label>#}
{#        <input class="form-control form-control-sm rounded-4 price" placeholder="$" aria-label="Package price" />#}
{#      </div>#}
{##}
{#      <div class="row" style="margin-top: 20px;">#}
{#        <div class="col" style="padding-top: 20px; padding-bottom: 20px; font-weight: 700; border-top: 1px solid #8ea6fe;">#}
{#          <div class="px-3">#}
{#            <strong>Kcal per day:</strong> <span class="kcal-output">0</span>#}
{#          </div>#}
{#          <div class="cost-field px-3">#}
{#            <strong>Cost per day:</strong> <span class="cost-output">0</span>#}
{#          </div>#}
{#        </div>#}
{#      </div>#}
{##}
{#    </div>#}
{#  </template>#}
{##}
{#  <script src="{% static 'js/script.js' %}"></script>#}