{% if pet %}
<div class="row justify-content-center align-items-center">
  <div class="col-auto">
    <h1>{{ pet.name }} </h1>
  </div>
  <div class="col-auto">
    <a href="{% url 'calculator:pet_update' pk=pet.id %}" style="font-size: 30px; color: var(--primary-color);">
      <i class="bi bi-pencil-square"></i>
    </a>
  </div>
</div>

<!-- Add Food -->
<div class="row justify-content-center">
  <div class="col-auto">
    <form method="POST" action="{% url 'calculator:food_create' %}">
      {% csrf_token %}
      <input type="hidden" name="pet_id" value="{{ pet.id }}">
      <button class="btn btn-primary" type="submit">Add food</button>
    </form>
  </div>
</div>

<div class="row justify-content-center font-default">
  {% for food in pet.foods.all %}
    {% include "includes/food_card.html" %}
  {% endfor %}
</div>

{% else %}
  <div class="row">
    <div class="col">
      <h1>Add Your Pet</h1>

      <!-- Add Pet Button -->
      {% include "includes/add_pet_button.html" %}

      <!-- Modal Add Pet -->
      {% include "includes/add_pet_modal.html" %}

    </div>
  </div>
{% endif %}
