{% load static %}

<nav class="navbar navbar-dark navbar-expand-lg" style="background-color: #5e80fd;">
  <div class="container-fluid">
    <a class="navbar-brand" style="color: #ffffff; font-size: 30px; font-weight: 900;" href={% url "calculator:index" %}><i class="bi bi-twitter"></i> Pet Food Calculator</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">

        <li class="nav-item">
          <a class="nav-link text-white" href={% url "users:login" %}>Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href={% url "users:register" %}>Register</a>
        </li>




        <li class="nav-item">
          <a class="nav-link text-white" href={% url "users:user-detail" %}>Profile</a>
        </li>




        <li class="nav-item dropdown">

          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Your Pets
          </a>

          <div class="dropdown-menu rounded-4">
            {% for pet in user.pets.all %}
              <div style="margin-bottom: 10px; margin-left: 20px">
                <a class="dropdown-link-custom" href={% url "calculator:pet_detail" pet_id=pet.id %}>
                  {{ pet.name }}
                </a>
              </div>
            {% endfor %}

            <hr class="dropdown-divider">

            <div>
              <!-- Add Pet Button -->
              <div style="margin-left: 20px">
                {% include "includes/add_pet_button.html" %}
              </div>
            </div>

          </div>
        </li>


      </ul>
    </div>
  </div>
</nav>



<!-- Add Pet Modal -->
{% include "includes/add_pet_modal.html" %}
