{% load static %}
<div class="col-auto food-box" id="food-card-{{ food.id }}">

  <!-- Delete Food -->
  <div class="row align-items-center justify-content-between">
    <div class="col-auto">
      <div class="row align-items-center justify-content-start m-0 p-0 gap-2">
        <div class="col-auto m-0 p-0">
          <img src="{% static 'images/pet_food_icon.png' %}"
               alt="pet food icon"
               style="width: 30px; height: 30px;"
          >
        </div>
        <div class="col-auto m-0 p-0">
          <span class="food-form-title">
            {% if food.name %}
              {% if food.name|length > 8 %}
                {{ food.name|slice:":8" }}...
              {% else %}
                {{ food.name|capfirst }}
              {% endif %}
            {% else %}
            {% endif %}
          </span>
        </div>
      </div>
    </div>

    <form class="col-auto"
          hx-post="{% url 'calculator:food_delete' food.id %}"
          hx-target="#food-card-{{ food.id }}"
          hx-swap="outerHTML"
    >
      {% csrf_token %}
      <button type="submit" class="btn p-0 m-0 text-decoration-none text-secondary align-self-end">
        <span style="color: var(--dark-color);">
          <i class="bi bi-x-lg"></i>
        </span>
      </button>
    </form>
  </div>

  <!-- Food Form -->
  <form hx-post="{% url 'calculator:food_update' food.id %}"
        hx-target="#food-card-{{ food.id }}"
        hx-swap="outerHTML"
        hx-trigger="click from:#calculate"
  >
    {% csrf_token %}
    <input type="hidden" name="pet_id" value="{{ pet.id }}" />
    <input type="hidden" name="food_id" value="{{ food.id }}" />

    <div class="food-form-row">
      <label class="food-form-label">Food name</label>
      <input name="name"
             autocomplete="off"
             class="form-control form-control-sm food-form-field"
             placeholder="name"
             value="{% if food.name %}{{ food.name }}{% endif %}"
             aria-label="Food name"
             maxlength="20"
      />
    </div>

    <div class="food-form-row">
      <label class="food-form-label">Food kcal/kg</label>
      <input name="kcal"
             autocomplete="off"
             class="form-control form-control-sm food-form-field"
             placeholder="kcal/kg"
             value="{% if food.kcal %}{{ food.kcal }}{% endif %}"
             aria-label="Kcal per kg" />
    </div>

    <div class="food-form-row">
      <label class="food-form-label">Meals per day</label>
      <input name="meals"
             autocomplete="off"
             class="form-control form-control-sm food-form-field"
             placeholder="meals"
             value="{% if food.meals %}{{ food.meals }}{% endif %}"
             aria-label="Meals per day" />
    </div>

    <div class="food-form-row">
      <label class="food-form-label">Meal size</label>
      <input name="meal_size"
             autocomplete="off"
             class="form-control form-control-sm food-form-field"
             placeholder="grams"
             value="{% if food.meal_size %}{{ food.meal_size }}{% endif %}"
             aria-label="Meal size" />
    </div>

    {% if pet.calculate_price == 'on' %}
      <div class="food-form-row cost-field">
        <label class="food-form-label">Package size</label>
        <input name="package_size"
               autocomplete="off"
               class="form-control form-control-sm food-form-field"
               placeholder="grams"
               value="{% if food.package_size %}{{ food.package_size }}{% endif %}"
               aria-label="Package size" />
      </div>

      <div class="food-form-row cost-field">
        <label class="food-form-label">Package price</label>
        <input name="package_price"
               autocomplete="off"
               class="form-control form-control-sm food-form-field"
               placeholder="{{ user.currency }}" value="{% if food.package_price %}{{ food.package_price }}{% endif %}"
               aria-label="Package price" />
      </div>
    {% endif %}
  </form>

  <!-- Results -->
  <div class="row">
    <div class="col"
         style="padding: 10px 0 0 0; margin: 10px 10px 0 10px; border-top: 1px solid #d4d5da;"
    >
      <div>
        <table>
          <tr>
            <td>Day energy:</td>
            <td>
              <span class="kcal-per-day" style="margin-left: 8px">
                {% if food.kcal_per_day %} {{ food.kcal_per_day }}{% else %}0.00{% endif %} kcal
              </span>
            </td>
          </tr>
          <tr {% if pet.calculate_price == 'off' %} hidden {% endif %}>
            <td>Day cost:</td>
            <td>
              <span class="cost-per-day" style="margin-left: 8px">
                {% if food.cost_per_day %}{{ food.cost_per_day }}{% else %}0.00{% endif %} {{ user.currency }}
              </span>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>

</div>
