{% extends "base.html" %}

{% block content %}


<div class="container">

    <div class="row mt-md-5 mt-1 justify-content-center">
      <div class="col-auto fs-2 fw-bolder">
        Change Password
      </div>
    </div>

    <div class="row mt-md-3 mb-md-4 mt-2 mb-3 justify-content-center">
      <div id="post-field" class="col-11 col-md-8 col-lg-6 p-4 p-lg-5 border">

        <form method="post" class="row justify-content-center">
          {% csrf_token %}
          {{ form }}
          <div class="col-auto">
            <a href="{% url 'users:user-detail' %}" class="btn btn-outline-secondary rounded-5">
              Cancel
            </a>
          </div>

          <div class="col-auto">
            <button type="submit" class="btn btn-outline-primary rounded-5">
              Save
            </button>
          </div>
        </form>

      </div>
    </div>

  </div>
{% endblock %}
