{#{% extends "base.html" %}#}
{##}
{#{% block content %}#}
{##}
{##}
{#<div class="container-fluid">#}
{##}
{#  <div class="row justify-content-center">#}
{#    <div class="col-auto box">#}
{##}
{#      <div style="font-size: 30px; font-weight: 800; margin-bottom: 20px;">#}
{#        Change Password#}
{#      </div>#}
{##}
{#      <form method="post">#}
{#        {% csrf_token %}#}
{#        {{ form }}#}
{##}
{#        <div class="d-flex justify-content-center" style="margin-top: 20px;">#}
{#          <a href="{% url 'users:user-detail' %}" class="btn btn-primary" style="margin-right: 10px;">#}
{#            Cancel#}
{#          </a>#}
{#          <button type="submit" class="btn btn-primary" style="margin-left: 10px;">#}
{#            Save#}
{#          </button>#}
{#        </div>#}
{#      </form>#}
{##}
{#    </div>#}
{#  </div>#}
{##}
{#</div>#}
{#{% endblock %}#}
