{% extends "base.html" %}

{% block content %}

  <div class="container">

    <div class="row mt-md-5 mb-md-4 mt-1 mb-3 justify-content-center">
      <div class="col-auto fs-2 fw-bolder">
        Register
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-10 col-sm-8 col-md-7 col-lg-6 col-xl-5 col-xxl-4 fw-medium">

        <form method="post">
          {% csrf_token %}
          {{ form }}
          <div class="text-center my-3 mt-md-5">
            <button type="submit" class="btn btn-primary rounded-5">
              Register
            </button>
          </div>
        </form>

      </div>
    </div>

  </div>
{% endblock %}
