{% extends "base.html" %}

{% block body %}

<div class="container-fluid">

  <div class="row justify-content-center align-items-center">
    <div class="col-auto box">

      <div class="box-header">
        User Profile
      </div>

      <div class="box-content box-content-margin-top">
        <span>Email:</span> {{ user.email }}
      </div>
      <div class="box-content" style="margin: 6px 0;">
        <span>Currency:</span>  {{ user.currency }}
      </div>

      <div class="box-btn-margin-top">
        <a class="btn btn-primary w-100" href="{% url 'users:user-settings' %}">Settings</a>
      </div>

      <div style="margin: 20px 0;">
        <a class="btn btn-primary w-100" href="{% url 'account_change_password' %}">Change Password</a>
      </div>

      <div style="margin: 20px 0;">
        <a class="btn btn-cancel w-100" href="{% url 'account_logout' %}">Logout</a>
      </div>

      <form method="post"
            action="{% url 'account_logout' %}"
            style="margin-top: 46px;"
      >
        {% csrf_token %}
         <button type="submit" class="btn btn-dark w-100">Delete Account</button>
      </form>

    </div>
  </div>

</div>

{% endblock %}