{% extends "base.html" %}
{% load static %}

{% block body %}

  <div class="container-fluid">

    <div class="row justify-content-center align-items-center">
      <div class="col-auto box">

        <div class="row justify-content-center align-items-center">
          <div class="col-auto p-0">
            <img src="{% static 'images/user_profile_icon.png' %}"
                 alt="pet icon"
                 style="width: 32px; height: 32px;"
            >
          </div>
          <div class="col-auto p-0" style="margin-left: 10px;">
          <span class="box-header"
          >
            Profile
          </span>
          </div>
        </div>

        <div class="box-content box-content-margin-top">
          <span>Email:</span> {{ user.email }}
        </div>
        <div class="box-content" style="margin: 6px 0;">
          <span>Currency:</span> {{ user.currency }}
        </div>

        <div class="box-btn-margin-top">
          <a class="btn btn-primary w-100" href="{% url 'users:user-settings' %}">Settings</a>
        </div>

        <div style="margin: 20px 0;">
          <a class="btn btn-primary w-100" href="{% url 'account_change_password' %}">Change Password</a>
        </div>

        <div style="margin: 20px 0;">
          <a class="btn btn-primary w-100" href="{% url 'account_logout' %}">Logout</a>
        </div>

        <div style="margin-top: 46px;">
          <a class="btn btn-dark w-100" href="{% url 'users:user-delete' %}">Delete</a>
        </div>

      </div>
    </div>

  </div>

{% endblock %}